<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>
</head>
<body>
    <p>Hello {{ user.first_name }} {{ user.last_name }},</p>
    <p>You're receiving this email because you requested a password reset for your user account at {{ current_site.name }}.</p>
    <p>Please go to the following page and choose a new password:</p>
    <p><a href="{{ frontend_url }}">Reset Password</a></p>
    <p>If you didn't request a password reset, you can ignore this email.</p>
    <p>Thanks for using our site!</p>
    <p>The {{ current_site.name }} team</p>
</body>
</html>
